@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 33 76% 97%;
    --foreground: 22 25% 15%;
    --card: 38 70% 98%;
    --card-foreground: 22 25% 15%;
    --popover: 38 70% 98%;
    --popover-foreground: 22 25% 15%;
    --primary: 346 37% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 19 53% 94%;
    --secondary-foreground: 20 30% 27%;
    --muted: 28 44% 92%;
    --muted-foreground: 23 21% 39%;
    --accent: 19 53% 94%;
    --accent-foreground: 20 30% 27%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 31 47% 83%;
    --input: 28 40% 79%;
    --ring: 346 37% 62%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "lnum", "locl";
  }
}

/* 마니또 카드 뒤집기 */
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
